table {
  margin-top: 20px;
    background-color: white;
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
  }
  
  th {
    color: #979395;
    padding: 10px; 
    cursor: pointer; 
    border-bottom: 2px solid #ffffff; 
  }
  

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ffffff;
  }
  

  .desc .caret {
    border-top: 0;
    border-bottom: 5px solid #ffffff; 
  }

  /* Style for the table data cells */
td {
    padding: 10px; 
    color: #C3C2C8;
    border-bottom: 1px solid #dddddd; 
  }
  
  .table-container {
    max-height: 500px; 
    overflow-y: auto;
  }